<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zterm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Zterm.Properties.Settings>
            <setting name="isTCP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ipaddress" serializeAs="String">
                <value>192.168.5.250</value>
            </setting>
            <setting name="ipPort" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LogSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Courier New, 9.75pt</value>
            </setting>
        </Zterm.Properties.Settings>
    </userSettings>
</configuration>